*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: "Neue Montreal";
}
a{
    text-decoration: none;
    color: #cdc6be;
}
.website-content{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: #cdc6be;
    padding: 2em;
}
.hero-img{
    margin-top: 4em;
    width: 100%;
    height: 100%;
    border: 2px solid #141412;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 2em;
    color: #cdc6be;
    mix-blend-mode: difference;
    z-index: 2 ;
}
nav > div{
    flex: 1;
}
.stage {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper {
    position: relative;
    color: #2395f3;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    padding-top: 0.65rem;
    padding-left: 0.5rem;
    padding-right: 0.36rem;
    padding-bottom: 0.2rem;
  }
  .slash {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
    transform-origin: center center;
    width: 0.15rem;
    height: 145%;
    background: fff;
    z-index: 4;
    animation: slash 6s ease-in infinite;
  }
  .slash:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.75rem;
    height: 120%;
    background: #fff;
    z-index: -1;
  }
  .slash:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e2f323;
  }
  .sides {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .sides .side {
    position: absolute;
    background: #e2f323;
  }
  .sides .side:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 0.15rem;
    transform: translateX(-101%);
    animation: side-top ease 6s infinite;
  }
  .sides .side:nth-child(2) {
    top: 0;
    right: 0;
    width: 0.15rem;
    height: 100%;
    transform: translateY(-101%);
    animation: side-right ease 6s infinite;
  }
  .sides .side:nth-child(3) {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.15rem;
    transform: translateX(101%);
    animation: side-bottom ease 6s infinite;
  }
  .sides .side:nth-child(4) {
    top: 0;
    left: 0;
    width: 0.15rem;
    height: 100%;
    transform: translateY(101%);
    animation: side-left ease 6s infinite;
  }
  .text {
    position: relative;
  }
  .text--backing {
    opacity: 0;
  }
  .text--left {
    position: absolute;
    top: 0;
    left: 0;
    width: 51%;
    height: 100%;
    overflow: hidden;
  }
  .text--left .inner {
    transform: translateX(100%);
    animation: text-left 6s ease-in-out infinite;
  }
  .text--right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  .text--right .inner {
    transform: translateX(-200%);
    animation: text-right 6s ease-in-out infinite;
  }
  @-moz-keyframes slash {
    0% {
      transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
    }
    6% {
      transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
    }
    13% {
      transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
    }
    16.6% {
      transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
    }
  }
  @-webkit-keyframes slash {
    0% {
      transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
    }
    6% {
      transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
    }
    13% {
      transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
    }
    16.6% {
      transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
    }
  }
  @-o-keyframes slash {
    0% {
      transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
    }
    6% {
      transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
    }
    13% {
      transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
    }
    16.6% {
      transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
    }
  }
  @keyframes slash {
    0% {
      transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
    }
    6% {
      transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
    }
    13% {
      transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);
    }
    16.6% {
      transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);
    }
  }
  @-moz-keyframes text-left {
    0% {
      transform: translateX(100%);
    }
    10% {
      transform: translateX(0);
    }
    58% {
      transform: translateX(0);
    }
    70% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(-200%);
    }
  }
  @-webkit-keyframes text-left {
    0% {
      transform: translateX(100%);
    }
    10% {
      transform: translateX(0);
    }
    58% {
      transform: translateX(0);
    }
    70% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(-200%);
    }
  }
  @-o-keyframes text-left {
    0% {
      transform: translateX(100%);
    }
    10% {
      transform: translateX(0);
    }
    58% {
      transform: translateX(0);
    }
    70% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(-200%);
    }
  }
  @keyframes text-left {
    0% {
      transform: translateX(100%);
    }
    10% {
      transform: translateX(0);
    }
    58% {
      transform: translateX(0);
    }
    70% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(-200%);
    }
  }
  @-moz-keyframes text-right {
    0% {
      transform: translateX(-200%);
    }
    10% {
      transform: translateX(-100%);
    }
    58% {
      transform: translateX(-100%);
    }
    70% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(-300%);
    }
  }
  @-webkit-keyframes text-right {
    0% {
      transform: translateX(-200%);
    }
    10% {
      transform: translateX(-100%);
    }
    58% {
      transform: translateX(-100%);
    }
    70% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(-300%);
    }
  }
  @-o-keyframes text-right {
    0% {
      transform: translateX(-200%);
    }
    10% {
      transform: translateX(-100%);
    }
    58% {
      transform: translateX(-100%);
    }
    70% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(-300%);
    }
  }
  @keyframes text-right {
    0% {
      transform: translateX(-200%);
    }
    10% {
      transform: translateX(-100%);
    }
    58% {
      transform: translateX(-100%);
    }
    70% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(-300%);
    }
  }
  @-moz-keyframes side-top {
    0%, 14% {
      transform: translateX(-101%);
    }
    24%, 55% {
      transform: translateX(0);
    }
    65% {
      transform: translateX(101%);
    }
    100% {
      transform: translateX(101%);
    }
  }
  @-webkit-keyframes side-top {
    0%, 14% {
      transform: translateX(-101%);
    }
    24%, 55% {
      transform: translateX(0);
    }
    65% {
      transform: translateX(101%);
    }
    100% {
      transform: translateX(101%);
    }
  }
  @-o-keyframes side-top {
    0%, 14% {
      transform: translateX(-101%);
    }
    24%, 55% {
      transform: translateX(0);
    }
    65% {
      transform: translateX(101%);
    }
    100% {
      transform: translateX(101%);
    }
  }
  @keyframes side-top {
    0%, 14% {
      transform: translateX(-101%);
    }
    24%, 55% {
      transform: translateX(0);
    }
    65% {
      transform: translateX(101%);
    }
    100% {
      transform: translateX(101%);
    }
  }
  @-moz-keyframes side-right {
    0%, 14%, 23% {
      transform: translateY(-101%);
    }
    30%, 62% {
      transform: translateY(0);
    }
    72% {
      transform: translateY(101%);
    }
    100% {
      transform: translateY(101%);
    }
  }
  @-webkit-keyframes side-right {
    0%, 14%, 23% {
      transform: translateY(-101%);
    }
    30%, 62% {
      transform: translateY(0);
    }
    72% {
      transform: translateY(101%);
    }
    100% {
      transform: translateY(101%);
    }
  }
  @-o-keyframes side-right {
    0%, 14%, 23% {
      transform: translateY(-101%);
    }
    30%, 62% {
      transform: translateY(0);
    }
    72% {
      transform: translateY(101%);
    }
    100% {
      transform: translateY(101%);
    }
  }
  @keyframes side-right {
    0%, 14%, 23% {
      transform: translateY(-101%);
    }
    30%, 62% {
      transform: translateY(0);
    }
    72% {
      transform: translateY(101%);
    }
    100% {
      transform: translateY(101%);
    }
  }
  @-moz-keyframes side-bottom {
    0%, 14%, 24%, 28% {
      transform: translateX(101%);
    }
    37%, 70% {
      transform: translateX(0);
    }
    79% {
      transform: translateX(-101%);
    }
    100% {
      transform: translateX(-101%);
    }
  }
  @-webkit-keyframes side-bottom {
    0%, 14%, 24%, 28% {
      transform: translateX(101%);
    }
    37%, 70% {
      transform: translateX(0);
    }
    79% {
      transform: translateX(-101%);
    }
    100% {
      transform: translateX(-101%);
    }
  }
  @-o-keyframes side-bottom {
    0%, 14%, 24%, 28% {
      transform: translateX(101%);
    }
    37%, 70% {
      transform: translateX(0);
    }
    79% {
      transform: translateX(-101%);
    }
    100% {
      transform: translateX(-101%);
    }
  }
  @keyframes side-bottom {
    0%, 14%, 24%, 28% {
      transform: translateX(101%);
    }
    37%, 70% {
      transform: translateX(0);
    }
    79% {
      transform: translateX(-101%);
    }
    100% {
      transform: translateX(-101%);
    }
  }
  @-moz-keyframes side-left {
    0%, 14%, 24%, 34%, 35% {
      transform: translateY(101%);
    }
    44%, 79% {
      transform: translateY(0);
    }
    86% {
      transform: translateY(-101%);
    }
    100% {
      transform: translateY(-101%);
    }
  }
  @-webkit-keyframes side-left {
    0%, 14%, 24%, 34%, 35% {
      transform: translateY(101%);
    }
    44%, 79% {
      transform: translateY(0);
    }
    86% {
      transform: translateY(-101%);
    }
    100% {
      transform: translateY(-101%);
    }
  }
  @-o-keyframes side-left {
    0%, 14%, 24%, 34%, 35% {
      transform: translateY(101%);
    }
    44%, 79% {
      transform: translateY(0);
    }
    86% {
      transform: translateY(-101%);
    }
    100% {
      transform: translateY(-101%);
    }
  }
  @keyframes side-left {
    0%, 14%, 24%, 34%, 35% {
      transform: translateY(101%);
    }
    44%, 79% {
      transform: translateY(0);
    }
    86% {
      transform: translateY(-101%);
    }
    100% {
      transform: translateY(-101%);
    }
  }

.toggle-btn{
    display: flex;
    justify-content: flex-end;
}
.burger{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.75em 2em 1.5em 2em;
    background: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    width: 28px;
    height: 20px;
    transition: all 250ms ease-out;
    cursor: pointer;
}
.burger::before,
.burger::after{
    content: "";
    width: 40px;
    height: 2px;
    position: absolute;
    background: #cdc6be;
    transition: all 250ms ease-out;
    will-change: trasform;
}
.burger:before{
     transform: translateY(-3px);
}
.burger:after{
    transform: translateY(3px);
}
.active.burger:before{
    transform: translateY(0) rotate(45deg);
}
.active.burger:after{
    transform: translateY(0) rotate(-45deg);
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background: #141412;
    clip-path: polygon(0 0,100% 0,100% 0,0 0);
    will-change: transform;
}
.overlay-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-item{
    display: flex;
    cursor: pointer;
    clip-path: polygon(0 0,100% 0,100% 100%,0% 100% );
}
.menu-item p{
    position: relative;
    text-align: center;
    font-family: "Canopee";
    font-size: 8vw;
    line-height: 80%;
    will-change: transform;
    transition: letter-spacing 0.3s;
}
.menu-item p:hover{
    letter-spacing: 0.075em;
    text-decoration: line-through #ff0000;
}
.menu-item p#active::after{
    content: "";
    position: absolute;
    top: 45%;
    left: 0;
    transform: translateY(-50%);
    background: #c03f13;
    width: 0%;
    height: 12px;
}
.sub-nav{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5em;
    opacity: 0;
}
.sub-nav p:hover{
    text-decoration: line-through #ff0000;
}
.sub-nav p{
    font-family: "Canopee";
    font-size: 20px;
    color: #cdc6be;
}
@media(max-width: 900px){
    .logo a{
        font-size: 20px;
    }
    .sub-nav p a{
        font-size: 15px;
    }
    #footer{
      
    }


}

#footer{
  font-size: small;
  color: #fff;
  position: absolute;
  display: flex;
  top: 99%;
  margin-top: 60px;
  margin-left: 30px;

}