    

@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: Tiro Devanagari Hindi;
    background-color: black;
    overflow-x: hidden;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.about-me {
    height: auto;
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
    line-height: 1.6;
    color: #333;
}



#page5 {
  padding: 25px 0;
  width: 100%;
  background-color: #C4BCB3;
  border-top: 1px solid #2f2f2f;
  border-bottom: 1px solid #2f2f2f;

  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#page5::-webkit-scrollbar {
  display: none;
}

#page5 h1 {
  font-size: 100px;
  font-family: domain;
  font-weight: 100;
  display: inline-block;
  /* background-color: red; */
  animation-timing-function: linear;
  margin-right: 30px;
  animation-name: scroll;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#page5 h1 span {
  font-family: canopee;
  background-color: #1b1b1b;
  color: #C4BCB3;
  padding: 0 12px;
}
@media(max-width: 900px){
  #page5 h1{
    font-size: 45px
  }
}



@keyframes scroll {
  0% {
      transform: translateX(0);
  }

  100% {
      transform: translateX(calc(-100% - 34px));
  }
}

#page5:hover h1{
  animation-play-state: paused;
}

.scroller {
    height: auto;
    width: auto;
  }
  
  .scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  }
  
  .scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
      var(--_animation-direction, forwards) linear infinite;
  }
  
  .scroller[data-direction="right"] {
    --_animation-direction: reverse;
  }
  
  .scroller[data-direction="left"] {
    --_animation-direction: forwards;
  }
  
  .scroller[data-speed="fast"] {
    --_animation-duration: 10s;
  }
  
  .scroller[data-speed="slow"] {
    --_animation-duration: 10s;
  }
  
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
  
  /* general styles */
  
  :root {
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-primary-100: hsl(205, 15%, 58%);
    --clr-primary-400: hsl(215, 25%, 27%);
    --clr-primary-800: hsl(217, 33%, 17%);
    --clr-primary-900: hsl(218, 33%, 9%);
  }
  

  .tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;
  }
  
  .tag-list li {
    padding: 1rem;
    background: var(--clr-primary-400);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
  }
  
  /* for testing purposed to ensure the animation lined up correctly */
  .test {
    background: red !important;
  }
  #title{
    position: relative;
    display: flex;
    margin: 20px 20px;
    justify-content: center;
  }
.tag-list li{
    color: yellow;
}
